header {
    height: 100vh;
    padding-top: 7rem;
    
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative; 
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.me {
    width: 22rem;
    height: 22rem;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
}

.about_me_image {
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    border-radius: 2rem;
}

.about_me_image:hover {
    transform: rotate(0)
}



.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
}

@media screen and(max-width: 1024px) {
    header {
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .header_socials, .scroll_down {
        display: none;
    }

}