@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #363062;
    --color-bg-variant: #4D4C7D;
    --primary-color: #E9D5DA;
    --primary-color-variant: #827397;
    --color-light: #a096ad;
    --txt-color: rgb(243, 223, 242);
    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%
}

.text-light {
    color: var(--color-light);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--txt-color);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    overflow: hidden;
}

h1,h2,h3,h4,h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light)
}

section > h2 {
    color: var(--primary-color);
    margin-bottom: 3rem;
}

a {
    color: var(--primary-color);
    transition: var(--transition)
}

a:hover {
    color: #82719b;
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--primary-color);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: var(--transition);
}

.btn-primary {
    background: var(--primary-color);
    color: var(--color-bg);
}

.btn:hover {
    background: white;
    color: var(--color-bg);
    border-color: transparent;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .container {
        width: var(--container-width-md);
        overflow: hidden;
    }

    section {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px){
    .container {
        width: var(--container-width-sm);
        overflow: hidden;
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}